@using CAO.Shared.Dtos;

<a href="@($"/blog/{BlogMetadata.Slug}")"
    class="flex flex-col lg:flex-row items-center lg:items-start py-2 px-8 lg:px-4 gap-x-4 hover:bg-base-200 hover:text-error">
    <div class="flex flex-row lg:min-w-12 lg:flex-col items-center gap-y-1 gap-x-1">
        <div class="text-2xl opacity-50 tabular-nums px-2">
            @Id.ToString("00")
        </div>
        @if (BlogMetadata.IsSticky)
        {
            <span class="badge badge-accent text-sm font-semibold lg:px-0 lg:w-full">
                置顶
            </span>
        }
        @if (isNew)
        {
            <span class="badge badge-secondary text-sm font-semibold lg:px-0 lg:w-full">
                NEW
            </span>
        }
    </div>
    <div class="w-full lg:w-auto flex flex-col grow gap-1">
        <h2 class="text-2xl text-center lg:text-start font-bold">
            @BlogMetadata.Title
        </h2>
        <div class="flex flex-row gap-x-1 flex-wrap justify-center lg:justify-start">
            <DateTimeWidget utcDateTime="@BlogMetadata.UpdatedAt" />
            <TagsWidget tags="@BlogMetadata.Tags" />
        </div>
        <p class="text-base">
            @BlogMetadata.Description
        </p>
    </div>
    @if (!string.IsNullOrEmpty(BlogMetadata.ImageUrl))
    {
        <img class="w-full mt-2 lg:my-auto lg:w-5/12 h-56 object-cover rounded-xl"
            src="@BlogMetadata.ImageUrl" />
    }
</a>

@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public BlogMetadataResponse BlogMetadata { get; set; } = default!;
    bool isNew => (DateTime.UtcNow - BlogMetadata.UpdatedAt).TotalDays <= 7;
}