@page "/admin"
@attribute [Authorize]
@inject AdminService adminService;

<PageTitle>CodeArt.Online - 后台</PageTitle>

<div class="breadcrumbs text-sm mb-4">
    <ul>
        <li>后台</li>
    </ul>
</div>

<div class="flex flex-col gap-y-4">

    <div class="flex flex-row flex-wrap justify-center gap-4">
        <div class="card bg-base-200 min-w-96">
            <div class="card-body">
                <h2 class="card-title">文章管理 ( @ToString(statistics?.TotalPosts) 篇 )</h2>
                <div class="stats bg-base-300">
                    <div class="stat">
                        <div class="stat-title">发布</div>
                        <div class="stat-value text-success">@ToString(statistics?.PublishedPosts)</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">草稿</div>
                        <div class="stat-value text-warning">@ToString(statistics?.DraftPosts)</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">归档</div>
                        <div class="stat-value text-error">@ToString(statistics?.ArchivedPosts)</div>
                    </div>
                </div>
                <div class="card-actions justify-end">
                    <a href="/admin/post" class="btn">前往</a>
                </div>
            </div>
        </div>
        <div class="card bg-base-200 min-w-96">
            <div class="card-body">
                <h2 class="card-title">留言管理 ( @ToString(statistics?.TotalMessages) 条 )</h2>
                <div class="stats bg-base-300">
                    <div class="stat">
                        <div class="stat-title">通过</div>
                        <div class="stat-value text-success">@ToString(statistics?.ApprovedMessages)</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">待审</div>
                        <div class="stat-value text-warning">@ToString(statistics?.PendingMessages)</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">拒绝</div>
                        <div class="stat-value text-error">@ToString(statistics?.RejectedMessages)</div>
                    </div>
                </div>
                <div class="card-actions justify-end">
                    <a href="/admin/message" class="btn">前往</a>
                </div>
            </div>
        </div>
        <div class="card bg-base-200 min-w-96">
            <div class="card-body">
                <h2 class="card-title">访客管理</h2>
                <p></p>
                <div class="card-actions justify-end">
                    <a href="/admin/visitor" class="btn">前往</a>
                </div>
            </div>
        </div>
    </div>

</div>

@code {
    private AdminStatisticsDto? statistics;

    protected override async Task OnInitializedAsync()
    {
        statistics = await adminService.GetAdminStatisticsAsync();
    }

    string ToString(int? value) => value?.ToString() ?? "--";
}